.task_list {
  height: 100%;
  overflow-y: auto;
  flex: 1 0 25%;
  padding: 0 12px;
}
.task_list_inner {
  background: #ebecf0;
  border-radius: 10px;
  padding: 12px 12px 8px 12px;
}

.list_main_heading {
  margin-bottom: 15px;
}

.list_task_main {
  background: #ffffff;
  border-radius: 5px;
  padding: 8px 7px;
}

.list_task_main + .list_task_main {
  margin-top: 15px;
}

.task_list::-webkit-scrollbar {
  padding-top: 29px;
  width: 12px;
}

.task_list::-webkit-scrollbar-track {
  background: #ffffff;
  margin-top: 29px;
  margin-bottom: 15px;
}
::-webkit-scrollbar-thumb {
  width: 12px;
  background: #cbcbcb;
  border-radius: 5px;
}
.button_add {
  border: 0px;
  height: 28px;
  background: #ebecf0;
  color: #5e6c84;
  cursor: pointer;
  margin-top: 17px;
}

.button_add:hover {
  color: #0067a3;
  height: 28px;
  background: #ffffff;
  border-radius: 5px;
}

.button_submit {
  background: #0079bf;
  border-radius: 5px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  width: 102px;
  height: 29px;
  margin-top: 12px;
}

.input_Task {
  background: #ffffff;
  border-radius: 5px;
  border: 0;
  display: block;
  line-height: 35px;
  width: 100%;
  padding: 0 8px;
}
.list_task_main + .input_Task {
  margin-top: 15px;
}

.button_cancel {
  border: 0px;
  height: 28px;
  background: #ebecf0;
  color: #5e6c84;
  cursor: pointer;
}

.button_cancel:hover {
  color: #0067a3;
  height: 28px;
  border-radius: 5px;
}

.select_task {
  padding-left: 8px;
  display: block;
  width: 100%;
  border-radius: 5px;
  margin-top: 15px;
  height: 35px;
  border: 0;
  font-family: "Roboto";
  appearance: none;
  background: url("./task_image/Vector\ 1.svg") no-repeat right #ffffff;
  background-position: top 50% right 8px;
  outline: none;
  cursor: pointer;
}
